extends layout

block content
  div(class='about-bar')
    section(class="about-top p-5")
      div(class='row  row-cols-md-1 row-cols-lg-2')
        div(class='about-column  py-3')
          div(class='about-card-img')
            img(src="/images/about-card-1.jpg", alt="")
            h3 Czym się zajmuję1
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident modi dolorum eligendi repudiandae delectus maxime exercitationem dolore voluptatem saepe, corporis nihil doloribus illo dicta, praesentium iure! Asperiores reprehenderit, dolores rerum quae quibusdam, quis perspiciatis labore adipisci autem voluptate assumenda culpa repudiandae fugiat in magni dicta ipsum consectetur aliquid? Magni, aperiam.
        div(class='about-column py-3')
          div(class='about-card-img')
            img(src="/images/about-card-2.jpg", alt="")
            h3 Czym się zajmuję1
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident modi dolorum eligendi repudiandae delectus maxime exercitationem dolore voluptatem saepe, corporis nihil doloribus illo dicta, praesentium iure! Asperiores reprehenderit, dolores rerum quae quibusdam, quis perspiciatis labore adipisci autem voluptate assumenda culpa repudiandae fugiat in magni dicta ipsum consectetur aliquid? Magni, aperiam.
        div(class='about-column py-3')
          div(class='about-card-img')
            img(src="/images/about-card-3.jpg", alt="")
            h3 Czym się zajmuję1
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident modi dolorum eligendi repudiandae delectus maxime exercitationem dolore voluptatem saepe, corporis nihil doloribus illo dicta, praesentium iure! Asperiores reprehenderit, dolores rerum quae quibusdam, quis perspiciatis labore adipisci autem voluptate assumenda culpa repudiandae fugiat in magni dicta ipsum consectetur aliquid? Magni, aperiam.
        div(class='about-column py-3')
          div(class='about-card-img')
            img(src="/images/about-card-4.jpg", alt="")
            h3 Czym się zajmuję1
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident modi dolorum eligendi repudiandae delectus maxime exercitationem dolore voluptatem saepe, corporis nihil doloribus illo dicta, praesentium iure! Asperiores reprehenderit, dolores rerum quae quibusdam, quis perspiciatis labore adipisci autem voluptate assumenda culpa repudiandae fugiat in magni dicta ipsum consectetur aliquid? Magni, aperiam.
        